$background-color: #222;
$text-color: #fff;

$background-warning-color-1: #e82711;
$background-warning-color-2: #9b2d23;
$text-warning-color: #fff;

$background-danger-color-1: #eeae32;
$background-danger-color-2: #ff9618;
$text-danger-color: #fff;

$background-success-color-1: #00cb11;
$background-success-color-2: #00aa00;
$text-success-color: #fff;

$background-disabled-color-1: #aaaaaa;
$background-disabled-color-2: #888888;
$text-disabled-color: #fff;

@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}
@-webkit-keyframes status-success-background {
  0%   { background-color: $background-success-color-1; }
  50%  { background-color: $background-success-color-2; }
  100% { background-color: $background-success-color-1; }
}
@-webkit-keyframes status-disabled-background {
  0%   { background-color: $background-disabled-color-1; }
  50%  { background-color: $background-disabled-color-2; }
  100% { background-color: $background-disabled-color-1; }
}
@mixin animation($animation-name, $duration, $function, $animation-iteration-count:""){
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}

.widget {
  text-align: center;
}

.widget.status-warning {
  background-color: $background-warning-color-1;
  @include animation(status-warning-background, 2s, ease, infinite);

  .title, .more-info {
    color: $text-warning-color;
  }
}

.widget.status-danger {
  color: $text-danger-color;
  background-color: $background-danger-color-1;
  @include animation(status-danger-background, 2s, ease, infinite);

  .title, .more-info {
    color: $text-danger-color;
  }
}

.widget.status-success {
  color: $text-success-color;
  background-color: $background-success-color-1;
  @include animation(status-success-background, 2s, ease, infinite);

  .title, .more-info {
    color: $text-success-color;
  }
}

.widget.status-disabled {
  color: $text-disabled-color;
  background-color: $background-disabled-color-1;
  @include animation(status-disabled-background, 2s, ease, infinite);

  .title, .more-info {
    color: $text-disabled-color;
  }
}

.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}