@-webkit-keyframes status-warning-background {
  0% {
    background-color: #e82711;
  }
  50% {
    background-color: #9b2d23;
  }
  100% {
    background-color: #e82711;
  }
}
@-webkit-keyframes status-danger-background {
  0% {
    background-color: #eeae32;
  }
  50% {
    background-color: #ff9618;
  }
  100% {
    background-color: #eeae32;
  }
}
@-webkit-keyframes status-success-background {
  0% {
    background-color: #00cb11;
  }
  50% {
    background-color: #00aa00;
  }
  100% {
    background-color: #00cb11;
  }
}
/* line 37, ../../src/main/sass/app.scss */
.widget {
  text-align: center;
}

/* line 41, ../../src/main/sass/app.scss */
.widget.status-warning {
  background-color: #e82711;
  -webkit-animation: status-warning-background 2s ease infinite;
  -moz-animation: status-warning-background 2s ease infinite;
  -ms-animation: status-warning-background 2s ease infinite;
}
/* line 45, ../../src/main/sass/app.scss */
.widget.status-warning .icon-warning-sign {
  display: inline-block;
}
/* line 49, ../../src/main/sass/app.scss */
.widget.status-warning .title, .widget.status-warning .more-info {
  color: #fff;
}

/* line 54, ../../src/main/sass/app.scss */
.widget.status-danger {
  color: #fff;
  background-color: #eeae32;
  -webkit-animation: status-danger-background 2s ease infinite;
  -moz-animation: status-danger-background 2s ease infinite;
  -ms-animation: status-danger-background 2s ease infinite;
}
/* line 59, ../../src/main/sass/app.scss */
.widget.status-danger .icon-warning-sign {
  display: inline-block;
}
/* line 63, ../../src/main/sass/app.scss */
.widget.status-danger .title, .widget.status-danger .more-info {
  color: #fff;
}

/* line 68, ../../src/main/sass/app.scss */
.widget.status-success {
  color: #fff;
  background-color: #00cb11;
  -webkit-animation: status-success-background 2s ease infinite;
  -moz-animation: status-success-background 2s ease infinite;
  -ms-animation: status-success-background 2s ease infinite;
}
/* line 73, ../../src/main/sass/app.scss */
.widget.status-success .icon-warning-sign {
  display: inline-block;
}
/* line 77, ../../src/main/sass/app.scss */
.widget.status-success .title, .widget.status-success .more-info {
  color: #fff;
}

/* line 82, ../../src/main/sass/app.scss */
.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}
