<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/app.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="js/bootstrap.min.css"/>
</head>
<body class="dashboard">
    <div class="container">

        <div class="row">
            <div class="panel widget status-warning col-md-3">
                <div class="panel-heading">
                    <p th:text="'WARNING ' + ${name} + '!'"/>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel widget status-danger col-md-3">
                <div class="panel-heading">
                    <p th:text="'DANGER ' + ${name} + '!'"/>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel widget status-success col-md-3">
                <div class="panel-heading">
                    <p th:text="'SUCCESS ' + ${name} + '!'"/>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel widget status-disabled col-md-3">
                <div class="panel-heading">
                    <p th:text="'DISABLED ' + ${name} + '!'"/>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>

    </div>
</body>
</html>